* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* appa*/
.app-container{
    margin-right: 1em;
}

/* navbar */
.nav-main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 0 5% 0 5%;
    width:100%;
    position:fixed;
    z-index: 1; 
    margin-top: 0;
    height:100px;
}



.nav-ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:600px;


}
/*the Link in react router works as an a tag*/
.nav-ul a{
    color:rgb(255, 255, 255);
    text-decoration:none;
}

.nav-ul li{
    text-decoration:none;
    color:white;
}

.brand{
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 40px;
    color:white;
  
}

/*Home*/
.center-content{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    height:100vh;
    padding: 0 30%;

}

.home{
    background-image: url('./assets/images/bg.jpg');
    position:relative;
}

.position-input{
    position:absolute;
    top:25%;
    right:10%;
}

.home h3{
    font-family: 'Dancing Script', cursive;
    font-size: 1.8em;


}
.home_input:focus{
    background-color: lightblue;

}
.home_input{
    border:none;
    border-radius: 5px;
    width:15em;
    padding:2px;
    padding-left:4px;
}

/*about*/
.common-bg{
    background-image: url("./assets/images/about_bg.jpg");
    background-position: center;
    filter:brightness(120%);
    
}

.about{
    font-weight:bold;
   
}

/*Meals*/
.meals_input{
    width:30%;
    padding:0.5em;
    border-radius: 5px;
    border: 2px solid grey;

}
.no_meal_message{
    padding-top:2em;
}
.meals_input_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:2em;

}
.meals_input:focus{
    background-color: lightblue;

}
.common-container{
    width: 100%;
    padding:7em 5em 5em 5em;
}

.meals-container h1{
    padding-top:0;
    margin-top:0;
}

.meals-container{
    padding-top:5em;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right:20px;

}

.meals-container a{
    color: black;
    text-decoration: none;

}

.meals-container a:hover{
    color:rgb(113, 115, 141);
    text-decoration: none;
}

.meal-images{
    width:400px;
    height:300px;
    border-radius: 2em;
    padding-bottom:1em;
}
.meal_title{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}
.meal_display p{
    font-size: 15px;
    padding-bottom: 0;
}   
.meal_items{
    width:425px;
    margin-bottom:20px;
    padding:0.5em;
    box-shadow: 0 8px 9px -6px rgb(181, 174, 174);
}

.meal_items:hover{
    box-shadow: 0 12px 9px -6px rgb(181, 174, 174);
    cursor: pointer;

}

.heading{
    font-weight: bold;
    font-size:2em;
    padding:0.1em
}
/*forms*/
.form-container{
    width:400px;
    height:auto;
    background-color: darkgrey;
    padding:2em;
    border-radius:1em;
    box-shadow: 10px 5px 5px rgb(107, 102, 102);

}


/*single meal */
.meal-container{
    flex-direction: column;

}
.single-meal-container{
    margin-top:2em;
    display:flex;
    justify-content:center;
    align-items: self;

}
.single_meal_inner img{
    width:500px;
  
}
.single_meal{
    display: flex;
    padding:2em;
    flex-direction: column;
    width:600px;
    border:1px solid rgb(172, 165, 165);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.reservation-review-container{
    display:flex;
}

.single_meal_inner{
    width:100%;
   

}
/*review form*/
.review-button{
    width:30%;
    margin-left: 25px;

}
.review-form{
    padding-top:5em;

}

.star-radio{
    display:none;
}

/* search from home*/
.home-search li{
    width: 100%;
    text-align: left;
    font-weight:900;
}


/* host*/


@media screen and (max-width: 700px) {
    .app-container{
        margin-right:30px;
}
    .center-content{
        padding-top: 40%;
        padding-right:20%;
    }
 
    .brand-container{
        width:400px;
       flex:2;

    }
    .brand{
        width:200px;
        font-size:1.8em;
    }

    .nav-container{
        flex:1;

    }
    .nav-ul{
        display:flex;
        flex-direction: column;
        padding-left:200px;
    }
    .position-input{
        position:absolute;
        top:20%;
        right:20%;
    }

    .about{
        text-align:justify;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .reservation-review-container{
        display: flex;
        flex-direction: column;
    }
  
   
    .common-container{
        padding-left: 2em;
    }

    .single_meal_inner img{
        width:400px;
        border-radius: 2em;
      
    }

    .single_meal{
        width:500px;
    }
 
}